body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Layer1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC none;
}
#Image1
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer2
{
   background-color: transparent;
   background-image: url(images/handy%20man.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border: 1px #CCCCCC none;
}
#Layer2{
   display: inline-flex !important;
}
#Image3
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Form1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
}
#Label1
{
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Label2
{
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox1
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox2
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox2:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox3
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox3:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#TextArea1
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   overflow: auto;
   resize: none;
}
#TextArea1:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#TextArea2
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   overflow: auto;
   resize: none;
}
#TextArea2:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Button1
{
   border: 1px #2E6DA4 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_Text3
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#Image2
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape2
{
   border-width: 0;
}
#wb_Text24
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text24 div
{
   text-align: left;
}
#Combobox1
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#Combobox1:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Combobox2
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#Combobox2:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Combobox3
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#Combobox3:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Combobox4
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#Combobox4:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Combobox5
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#Combobox5:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Combobox6
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#Combobox6:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label3
{
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Label4
{
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Label5
{
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Label6
{
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Label7
{
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Label8
{
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#wb_Text23
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text23 div
{
   text-align: left;
}
#Layer5
{
   background-color: #008B8B;
   background-image: none;
   border: 1px #00FF00 none;
}
#wb_Text20
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text20 div
{
   text-align: left;
}
#wb_Text21
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text21 div
{
   text-align: left;
}
#wb_Text22
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text22 div
{
   text-align: left;
}
#Shape1
{
   border-width: 0;
}
#wb_Text19
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text19 div
{
   text-align: left;
}
#Image18
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image19
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image20
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image21
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image21
{
   position: absolute;
   left: 1185px;
   top: 15px;
   width: 25px;
   height: 25px;
   z-index: 74;
}
#wb_Text19
{
   position: absolute;
   left: 98px;
   top: 17px;
   width: 144px;
   height: 17px;
   z-index: 69;
   text-align: left;
}
#Combobox3
{
   position: absolute;
   left: 247px;
   top: 376px;
   width: 88px;
   height: 35px;
   z-index: 19;
}
#Editbox1
{
   position: absolute;
   left: 17px;
   top: 260px;
   width: 312px;
   height: 18px;
   line-height: 18px;
   z-index: 8;
}
#Label2
{
   position: absolute;
   left: 15px;
   top: 134px;
   width: 75px;
   height: 18px;
   line-height: 18px;
   z-index: 6;
}
#Layer2_Container
{
   width: 1237px;
   height: 998px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
   text-align: left;
}
#Shape1
{
   width: 183px;
   height: 35px;
}
#Layer5_Container
{
   width: 1237px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#Label3
{
   position: absolute;
   left: 15px;
   top: 158px;
   width: 135px;
   height: 18px;
   line-height: 18px;
   z-index: 21;
}
#Combobox4
{
   position: absolute;
   left: 21px;
   top: 416px;
   width: 140px;
   height: 35px;
   z-index: 16;
}
#Editbox2
{
   position: absolute;
   left: 17px;
   top: 293px;
   width: 312px;
   height: 18px;
   line-height: 18px;
   z-index: 9;
}
#wb_Text1
{
   position: absolute;
   left: 293px;
   top: 325px;
   width: 144px;
   height: 29px;
   z-index: 34;
   text-align: left;
}
#Label4
{
   position: absolute;
   left: 15px;
   top: 182px;
   width: 121px;
   height: 18px;
   line-height: 18px;
   z-index: 22;
}
#Combobox5
{
   position: absolute;
   left: 164px;
   top: 416px;
   width: 79px;
   height: 35px;
   z-index: 18;
}
#Editbox3
{
   position: absolute;
   left: 18px;
   top: 326px;
   width: 311px;
   height: 18px;
   line-height: 18px;
   z-index: 10;
}
#RadioButton1
{
   position: absolute;
   left: 158px;
   top: 115px;
   z-index: 5;
}
#Shape2
{
   width: 167px;
   height: 38px;
}
#Label5
{
   position: absolute;
   left: 15px;
   top: 205px;
   width: 121px;
   height: 18px;
   line-height: 18px;
   z-index: 25;
}
#Combobox6
{
   position: absolute;
   left: 248px;
   top: 415px;
   width: 88px;
   height: 35px;
   z-index: 20;
}
#wb_Text3
{
   position: absolute;
   left: 20px;
   top: 29px;
   width: 317px;
   height: 32px;
   z-index: 14;
   text-align: left;
}
#RadioButton2
{
   position: absolute;
   left: 158px;
   top: 137px;
   z-index: 7;
}
#wb_Image1
{
   position: absolute;
   left: 90px;
   top: 7px;
   width: 151px;
   height: 54px;
   z-index: 0;
}
#Label6
{
   position: absolute;
   left: 15px;
   top: 229px;
   width: 110px;
   height: 18px;
   line-height: 18px;
   z-index: 26;
}
#RadioButton3
{
   position: absolute;
   left: 158px;
   top: 163px;
   z-index: 23;
}
#wb_Image2
{
   position: absolute;
   left: 235px;
   top: 388px;
   width: 240px;
   height: 200px;
   z-index: 35;
}
#Layer1
{
   position: relative;
   text-align: center;
   margin: 0px 0px 0px 0px;
   width: 100%;
   height: 68px;
   float: left;
   clear: left;
   display: block;
   z-index: 75;
}
#Label7
{
   position: absolute;
   left: 15px;
   top: 61px;
   width: 75px;
   height: 18px;
   line-height: 18px;
   z-index: 29;
}
#RadioButton4
{
   position: absolute;
   left: 158px;
   top: 185px;
   z-index: 24;
}
#wb_Image3
{
   position: absolute;
   left: 266px;
   top: 40px;
   width: 199px;
   height: 263px;
   z-index: 33;
}
#Layer2
{
   position: relative;
   text-align: center;
   margin: 0px 0px 0px 0px;
   width: 100%;
   height: 998px;
   float: left;
   clear: left;
   display: block;
   z-index: 76;
}
#Label8
{
   position: absolute;
   left: 15px;
   top: 85px;
   width: 75px;
   height: 18px;
   line-height: 18px;
   z-index: 30;
}
#RadioButton5
{
   position: absolute;
   left: 158px;
   top: 210px;
   z-index: 27;
}
#TextArea1
{
   position: absolute;
   left: 16px;
   top: 482px;
   width: 311px;
   height: 79px;
   z-index: 11;
}
#Layer1_Container
{
   width: 1237px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Text20
{
   position: absolute;
   left: 428px;
   top: 16px;
   width: 182px;
   height: 17px;
   z-index: 66;
   text-align: left;
}
#RadioButton6
{
   position: absolute;
   left: 158px;
   top: 232px;
   z-index: 28;
}
#TextArea2
{
   position: absolute;
   left: 18px;
   top: 578px;
   width: 309px;
   height: 90px;
   z-index: 12;
}
#wb_Image18
{
   position: absolute;
   left: 629px;
   top: 15px;
   width: 26px;
   height: 20px;
   z-index: 70;
}
#wb_Text21
{
   position: absolute;
   left: 663px;
   top: 15px;
   width: 161px;
   height: 17px;
   z-index: 67;
   text-align: left;
}
#Layer5
{
   position: relative;
   text-align: center;
   margin: 0px 0px 0px 0px;
   width: 100%;
   height: 55px;
   float: left;
   clear: left;
   display: block;
   z-index: 77;
}
#RadioButton7
{
   position: absolute;
   left: 158px;
   top: 66px;
   z-index: 31;
}
#wb_Text22
{
   position: absolute;
   left: 845px;
   top: 17px;
   width: 123px;
   height: 16px;
   z-index: 73;
   text-align: left;
}
#wb_Image19
{
   position: absolute;
   left: 1134px;
   top: 15px;
   width: 29px;
   height: 25px;
   z-index: 71;
}
#RadioButton8
{
   position: absolute;
   left: 158px;
   top: 88px;
   z-index: 32;
}
#wb_Text23
{
   position: absolute;
   left: 1076px;
   top: 24px;
   width: 114px;
   height: 17px;
   z-index: 3;
   text-align: left;
}
#wb_Text24
{
   position: absolute;
   left: 953px;
   top: 24px;
   width: 60px;
   height: 17px;
   z-index: 1;
   text-align: left;
}
#wb_Form1
{
   position: absolute;
   left: 495px;
   top: 54px;
   width: 357px;
   height: 758px;
   z-index: 36;
}
#Button1
{
   position: absolute;
   left: 18px;
   top: 686px;
   width: 319px;
   height: 47px;
   z-index: 13;
}
#wb_Shape1
{
   position: absolute;
   left: 59px;
   top: 8px;
   width: 183px;
   height: 35px;
   z-index: 68;
}
#Combobox1
{
   position: absolute;
   left: 20px;
   top: 377px;
   width: 140px;
   height: 35px;
   z-index: 15;
}
#wb_Shape2
{
   position: absolute;
   left: 1037px;
   top: 13px;
   width: 167px;
   height: 38px;
   z-index: 2;
}
#wb_Image20
{
   position: absolute;
   left: 1091px;
   top: 13px;
   width: 14px;
   height: 26px;
   z-index: 72;
}
#Combobox2
{
   position: absolute;
   left: 164px;
   top: 377px;
   width: 79px;
   height: 35px;
   z-index: 17;
}
#Label1
{
   position: absolute;
   left: 15px;
   top: 110px;
   width: 75px;
   height: 18px;
   line-height: 18px;
   z-index: 4;
}
@media only screen and (max-width: 1238px)
{
#Layer1
{
   height: 188px;
   visibility: visible;
   display: inline;
   background-color: #FFFFFF;
   background-image: none;
}
#Layer1_Container
{
   width: 318px;
}
#wb_Image1
{
   left: 90px;
   top: 7px;
   width: 151px;
   height: 54px;
   visibility: visible;
   display: inline;
}
#Layer2
{
   height: 1151px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: url(images/handy%20man.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
}
#Layer2_Container
{
   width: 318px;
   height:1149px;
}
#wb_Image3
{
   left: 99px;
   top: 16px;
   width: 120px;
   height: 151px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   left: 82px;
   top: 196px;
   width: 144px;
   height: 29px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Form1
{
   left: 11px;
   top: 368px;
   width: 295px;
   height: 758px;
   visibility: visible;
   display: inline;
   background-color: #FFFFFF;
   background-image: none;
}
#Label1
{
   left: 15px;
   top: 110px;
   width: 75px;
   height: 20px;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: transparent;
   background-image: none;
}
#RadioButton1
{
   left: 158px;
   top: 115px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   background-color: #3370B7;
   background-image: none;
}
#Label2
{
   left: 15px;
   top: 134px;
   width: 75px;
   height: 20px;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: transparent;
   background-image: none;
}
#RadioButton2
{
   left: 158px;
   top: 137px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   background-color: #3370B7;
   background-image: none;
}
#Editbox1
{
   left: 17px;
   top: 260px;
   width: 260px;
   height: 30px;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: #FFFFFF;
   background-image: none;
}
#Editbox2
{
   left: 17px;
   top: 293px;
   width: 260px;
   height: 30px;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: #FFFFFF;
   background-image: none;
}
#Editbox3
{
   left: 18px;
   top: 326px;
   width: 260px;
   height: 30px;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: #FFFFFF;
   background-image: none;
}
#TextArea1
{
   left: 16px;
   top: 482px;
   width: 260px;
   height: 79px;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: #FFFFFF;
   background-image: none;
}
#TextArea2
{
   left: 18px;
   top: 578px;
   width: 260px;
   height: 90px;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: #FFFFFF;
   background-image: none;
}
#Button1
{
   left: 18px;
   top: 686px;
   width: 259px;
   height: 47px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   background-color: #3370B7;
   background-image: none;
}
#wb_Text3
{
   left: 25px;
   top: 16px;
   width: 245px;
   height: 32px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Image2
{
   left: 92px;
   top: 236px;
   width: 130px;
   height: 114px;
   visibility: visible;
   display: inline;
}
#wb_Shape2
{
   left: 74px;
   top: 124px;
   visibility: visible;
   display: inline;
}
#wb_Text24
{
   left: 120px;
   top: 87px;
   width: 60px;
   height: 17px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#Combobox1
{
   left: 20px;
   top: 377px;
   width: 81px;
   height: 35px;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: #FFFFFF;
   background-image: none;
}
#Combobox2
{
   left: 106px;
   top: 378px;
   width: 79px;
   height: 35px;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: #FFFFFF;
   background-image: none;
}
#Combobox3
{
   left: 189px;
   top: 377px;
   width: 88px;
   height: 35px;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: #FFFFFF;
   background-image: none;
}
#Combobox4
{
   left: 20px;
   top: 416px;
   width: 81px;
   height: 35px;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: #FFFFFF;
   background-image: none;
}
#Combobox5
{
   left: 106px;
   top: 417px;
   width: 79px;
   height: 35px;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: #FFFFFF;
   background-image: none;
}
#Combobox6
{
   left: 189px;
   top: 417px;
   width: 88px;
   height: 35px;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: #FFFFFF;
   background-image: none;
}
#Label3
{
   left: 15px;
   top: 158px;
   width: 135px;
   height: 20px;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: transparent;
   background-image: none;
}
#Label4
{
   left: 15px;
   top: 182px;
   width: 121px;
   height: 20px;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: transparent;
   background-image: none;
}
#RadioButton3
{
   left: 158px;
   top: 163px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   background-color: #3370B7;
   background-image: none;
}
#RadioButton4
{
   left: 158px;
   top: 185px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   background-color: #3370B7;
   background-image: none;
}
#Label5
{
   left: 15px;
   top: 205px;
   width: 121px;
   height: 20px;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: transparent;
   background-image: none;
}
#Label6
{
   left: 15px;
   top: 229px;
   width: 110px;
   height: 20px;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: transparent;
   background-image: none;
}
#RadioButton5
{
   left: 158px;
   top: 210px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   background-color: #3370B7;
   background-image: none;
}
#RadioButton6
{
   left: 158px;
   top: 232px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   background-color: #3370B7;
   background-image: none;
}
#Label7
{
   left: 15px;
   top: 61px;
   width: 75px;
   height: 20px;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: transparent;
   background-image: none;
}
#Label8
{
   left: 15px;
   top: 85px;
   width: 75px;
   height: 20px;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: transparent;
   background-image: none;
}
#RadioButton7
{
   left: 158px;
   top: 66px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   background-color: #3370B7;
   background-image: none;
}
#RadioButton8
{
   left: 158px;
   top: 88px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   background-color: #3370B7;
   background-image: none;
}
#wb_Text23
{
   left: 110px;
   top: 135px;
   width: 114px;
   height: 17px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#Layer5
{
   height: 225px;
   visibility: visible;
   display: inline;
   background-color: #008B8B;
   background-image: none;
}
#Layer5_Container
{
   width: 318px;
}
#wb_Text20
{
   left: 79px;
   top: 60px;
   width: 182px;
   height: 17px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text21
{
   left: 92px;
   top: 97px;
   width: 161px;
   height: 17px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text22
{
   left: 96px;
   top: 135px;
   width: 123px;
   height: 16px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Shape1
{
   left: 59px;
   top: 8px;
   visibility: visible;
   display: inline;
}
#wb_Text19
{
   left: 98px;
   top: 17px;
   width: 144px;
   height: 17px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Image18
{
   left: 58px;
   top: 97px;
   width: 26px;
   height: 20px;
   visibility: visible;
   display: inline;
}
#wb_Image19
{
   left: 134px;
   top: 173px;
   width: 29px;
   height: 25px;
   visibility: visible;
   display: inline;
}
#wb_Image20
{
   left: 91px;
   top: 171px;
   width: 14px;
   height: 26px;
   visibility: visible;
   display: inline;
}
#wb_Image21
{
   left: 185px;
   top: 173px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
}
}
