body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Layer1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC none;
}
#Image1
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape2
{
   border-width: 0;
}
#wb_Text24 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text24 div
{
   text-align: left;
}
#Layer2
{
   background-color: transparent;
   background-image: url(images/Backup_of_web%20ready%20task%20wiser%20-%20Copy.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border: 1px #CCCCCC none;
}
#Layer2{
   display: inline-flex !important;
}
#wb_Form1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#Image3
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#wb_Text23 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text23 div
{
   text-align: left;
}
#Layer5
{
   background-color: #008B8B;
   background-image: none;
   border: 1px #00FF00 none;
}
#wb_Text20 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text20 div
{
   text-align: left;
}
#wb_Text21 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text21 div
{
   text-align: left;
}
#wb_Text22 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text22 div
{
   text-align: left;
}
#Shape1
{
   border-width: 0;
}
#wb_Text19 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text19 div
{
   text-align: left;
}
#Image18
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image19
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image20
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image21
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image21
{
   position: absolute;
   left: 1185px;
   top: 15px;
   width: 25px;
   height: 25px;
   z-index: 17;
}
#wb_Text19
{
   position: absolute;
   left: 98px;
   top: 17px;
   width: 144px;
   height: 17px;
   z-index: 13;
   text-align: left;
}
#Layer2_Container
{
   width: 1278px;
   height: 798px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
   text-align: left;
}
#Shape1
{
   width: 183px;
   height: 35px;
}
#Layer5_Container
{
   width: 1278px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#Shape2
{
   width: 167px;
   height: 38px;
}
#wb_Image1
{
   position: absolute;
   left: 92px;
   top: 7px;
   width: 151px;
   height: 54px;
   z-index: 0;
}
#wb_Text4
{
   position: absolute;
   left: 170px;
   top: 54px;
   width: 534px;
   height: 32px;
   text-align: center;
   z-index: 4;
}
#Layer1
{
   position: relative;
   text-align: left;
   margin: 0px 0px 0px 0px;
   width: 100%;
   height: 68px;
   float: left;
   clear: left;
   display: block;
   z-index: 18;
}
#wb_Image3
{
   position: absolute;
   left: 14px;
   top: 45px;
   width: 199px;
   height: 263px;
   z-index: 7;
}
#wb_Text5
{
   position: absolute;
   left: 496px;
   top: 25px;
   width: 370px;
   height: 29px;
   text-align: center;
   z-index: 5;
}
#Layer2
{
   position: relative;
   text-align: center;
   margin: 0px 0px 0px 0px;
   width: 100%;
   height: 798px;
   float: left;
   clear: left;
   display: block;
   z-index: 19;
}
#wb_Text20
{
   position: absolute;
   left: 428px;
   top: 16px;
   width: 182px;
   height: 17px;
   z-index: 9;
   text-align: left;
}
#wb_Image18
{
   position: absolute;
   left: 629px;
   top: 15px;
   width: 26px;
   height: 20px;
   z-index: 14;
}
#wb_Text21
{
   position: absolute;
   left: 663px;
   top: 15px;
   width: 161px;
   height: 17px;
   z-index: 10;
   text-align: left;
}
#Layer5
{
   position: relative;
   text-align: center;
   margin: 0px 0px 0px 0px;
   width: 100%;
   height: 55px;
   float: left;
   clear: left;
   display: block;
   z-index: 20;
}
#wb_Image19
{
   position: absolute;
   left: 1134px;
   top: 15px;
   width: 29px;
   height: 25px;
   z-index: 16;
}
#wb_Text22
{
   position: absolute;
   left: 845px;
   top: 17px;
   width: 123px;
   height: 16px;
   z-index: 11;
   text-align: left;
}
#wb_Text23
{
   position: absolute;
   left: 1060px;
   top: 26px;
   width: 114px;
   height: 17px;
   z-index: 3;
   text-align: left;
}
#wb_Text24
{
   position: absolute;
   left: 941px;
   top: 26px;
   width: 60px;
   height: 17px;
   z-index: 1;
   text-align: left;
}
#wb_Form1
{
   position: absolute;
   left: 243px;
   top: 66px;
   width: 875px;
   height: 507px;
   z-index: 6;
}
#wb_Shape1
{
   position: absolute;
   left: 59px;
   top: 8px;
   width: 183px;
   height: 35px;
   z-index: 12;
}
#wb_Shape2
{
   position: absolute;
   left: 1034px;
   top: 15px;
   width: 167px;
   height: 38px;
   z-index: 2;
}
#wb_Image20
{
   position: absolute;
   left: 1091px;
   top: 13px;
   width: 14px;
   height: 26px;
   z-index: 15;
}
@media only screen and (max-width: 1279px)
{
#Layer1
{
   height: 192px;
   visibility: visible;
   display: inline;
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Image1
{
   left: 92px;
   top: 7px;
   width: 151px;
   height: 54px;
   visibility: visible;
   display: inline;
}
#wb_Shape2
{
   left: 84px;
   top: 121px;
   visibility: visible;
   display: inline;
}
#wb_Text24
{
   left: 120px;
   top: 87px;
   width: 60px;
   height: 17px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#Layer2
{
   height: 758px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: url(images/Backup_of_web%20ready%20task%20wiser%20-%20Copy.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
}
#Layer2_Container
{
   width: 318px;
   height:756px;
}
#wb_Form1
{
   left: 9px;
   top: 227px;
   width: 297px;
   height: 507px;
   visibility: visible;
   display: inline;
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Text4
{
   left: 32px;
   top: 29px;
   width: 217px;
   height: 80px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Image3
{
   left: 95px;
   top: 25px;
   width: 111px;
   height: 152px;
   visibility: visible;
   display: inline;
}
#wb_Text5
{
   left: 21px;
   top: 179px;
   width: 275px;
   height: 29px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text23
{
   left: 110px;
   top: 132px;
   width: 114px;
   height: 17px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#Layer5
{
   height: 236px;
   visibility: visible;
   display: inline;
   background-color: #008B8B;
   background-image: none;
}
#Layer5_Container
{
   width: 318px;
}
#wb_Text20
{
   left: 76px;
   top: 61px;
   width: 182px;
   height: 17px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text21
{
   left: 100px;
   top: 99px;
   width: 161px;
   height: 17px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text22
{
   left: 98px;
   top: 140px;
   width: 123px;
   height: 16px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Shape1
{
   left: 59px;
   top: 8px;
   visibility: visible;
   display: inline;
}
#wb_Text19
{
   left: 98px;
   top: 17px;
   width: 144px;
   height: 17px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Image18
{
   left: 66px;
   top: 99px;
   width: 26px;
   height: 20px;
   visibility: visible;
   display: inline;
}
#wb_Image19
{
   left: 142px;
   top: 180px;
   width: 29px;
   height: 25px;
   visibility: visible;
   display: inline;
}
#wb_Image20
{
   left: 99px;
   top: 178px;
   width: 14px;
   height: 26px;
   visibility: visible;
   display: inline;
}
#wb_Image21
{
   left: 193px;
   top: 180px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
}
}
