@media screen and (min-width: 480px) {
	.navbar {
		padding-bottom: 0px!important;
		height: 55px!important;
	}
	.navbar .container {
		height: 45px!important;
	}
	.nav-item {
		line-height: 0px;
	}
	.md-left {
		text-align: left;
	}

}

.sm-center {
	text-align: center;
}

.p-y-6 {
	padding-top:6px!important;
	padding-bottom: :6px!important;
}

.p-x-12 {
	padding-left:12px!important;
	padding-right: :12px!important;
}

.dropdown-item {
	line-height: initial!important;
}

.text-black {
	color: #666!important;
}

.addBtn {
	position: fixed;
	right: 10px;
	bottom: 10px;
}

.m-t-3 {
	margin-top: 3rem!important;
}



.bold {
	font-weight: bold!important;
}

li.active a {
	line-height: initial;
}

small {
	line-height: inherit!important;
}

.font-13 {
	font-size: 13px!important;
}

.font-12 {
	font-size: 12px!important;
}

.text-green {
	color: green!important;
}

.text-red {
	color: red!important;
}

.text-ash {
	color: #666!important;
}

.m-t-1 {
	margin-top: 1rem!important;
}
.m-b-1 {
	margin-bottom: 1rem!important;
}

p {
	font-size: 12px!important;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../fonts/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}